:root {
    --text-dark: #464646;
    --text-light: #ffffff;
    --bg-light: #D9DFE7;
    --bg-dark: #1B222C;
    --icon-light: #f4e1a3;
    --icon-dark: #7e7e7e;
    --box-shadow-light-highlight: hsla(0, 0%, 90%, 0.5);
    --box-shadow-light-shadow: rgba(139, 156, 182, 0.5);
    --box-shadow-dark-highlight: hsla(216, 23%, 20%, 0.463);
    --box-shadow-dark-shadow: hsl(215, 24%, 10%);
    --container-padding: 1.6rem;
    --transition-time: 2s ease-in;
    --text-light-highlight: 0px -1px 1px rgba(0, 0, 0, 1);
    --text-light-shadow: 0px 2px 1px rgba(255, 255, 255, 0.883);

    --foreground: var(--text-dark);
    --background: var(--bg-light);
    --icon-color: var(--icon-dark);
    --item-highlight: var(--box-shadow-light-highlight);
    --item-shadow: var(--box-shadow-light-shadow);
    --text-color: var(--text-dark);
    --text-highlight: var(--text-light-highlight);
    --text-shadow: var(--text-light-shadow);
}

.darkmode {
    --foreground: var(--text-light);
    --background: var(--bg-dark);
    --icon-color: var(--icon-light);
    --item-highlight: transparent;
    --item-shadow: transparent;
    --text-color: var(--text-light);
    --text-highlight: transparent;
    --text-shadow: transparent;

    --heading-color: #a2beac;
}

body {
    position: relative;
    background-color: var(--background);
    color: var(--foreground);
    font-family: 'Maven Pro', sans-serif;
}

body, nav ul {
    transition: background-color var(--transition-time);
}

h1,
h2 {
    font-size: 3.2rem;
    text-transform: uppercase;
    text-shadow: var(--text-highlight),
        var(--text-shadow);
}

.darkmode h1 {
    color: var(--heading-color);
}

.darkmode .content, .darkmode .profile-card {
    position: relative;
    background-color: #a2beac89;
    padding: 2.4rem 3.2rem;
    border-radius: 8px;
    border-top-left-radius: 40px;
    animation: shadows 2s ease infinite;
}

.darkmode #contact .content {
    width: 100%;
}

@keyframes shadows {
    0% {
        /* text-shadow: #a2beac 0 0 10px; */
        background-color: hsla(141, 8%, 69%, 0.11);
        box-shadow: 0px 0px 4px 2px #a2a9be;
    }
    
    50% {
        /* text-shadow: hsl(141, 18%, 69%) 0 0 10px; */
        background-color: #a2beac13;
        box-shadow: 0px 0px 4px 2px hsl(141, 18%, 79%);
    }
    
    75% {
        /* text-shadow: hsl(141, 18%, 69%) 0 0 10px; */
        background-color: #a2beac13;
        box-shadow: 0px 0px 4px 2px hsla(141, 18%, 59%);
    }

    100% {
        /* text-shadow: #a2beac 0 0 10px; */
        background-color: hsla(141, 88%, 69%, 0.11);
        box-shadow: 0px 0px 4px 2px #a2beac8d;
    }
}

h2 {
    margin-bottom: 1.6rem;
}

h3 {
    font-size: 2.4rem;
}

nav {
    position: fixed;
    width: 100%;
}

nav button {
    width: 36px;
    height: 36px;
    background-color: transparent;
    border: none;
}

nav button svg {
    fill: var(--icon-color);
    transition: fill 2s ease-in;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: center;
    padding: 0.8rem;
    padding-right: 1.6rem;
    margin: 0;
    background-color: var(--background);
    box-shadow: 0px 16px 8px -16px var(--item-shadow);
}

nav ul li a {
    text-decoration: none;
    padding: 0.8rem;
    color: var(--text-color);
}

header,
section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 1.6rem;
}

section {
    padding: 4.8rem 0;
}

/* #social-icons {
    fill: var(--icon-color);
} */

/* #social-icons:hover {
    fill: red;
} */

.container {
    width: 100%;
    max-width: 1024px;
    padding: var(--container-padding);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 16px;
}

header .content::before {
    position: absolute;
    z-index: -1;
    margin-left: -1.6rem;
    margin-top: -0.8rem;
    content: '';
    width: 100%;
    max-width: 1024px;
    height: 240px;
    /* border: 1px solid red; */
    border-radius: 24px;
    box-shadow: inset 9px 9px 20px var(--item-shadow), inset -9px -9px 16px var(--item-highlight);
}

header .content p {
    font-size: 1.6rem;
}

.content div svg,
.socials a svg,
.button-wide>svg {
    width: 24px;
    height: 24px;
}

.content div:first-of-type a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    padding: 0.4rem 0.8rem;
    border-radius: 8px;
    color: var(--text-color);
    /* box-shadow: 4px 4px 3px rgb(163, 177, 198, 0.4), */
    /* -4px -4px 3px rgba(255, 255, 255, 0.4); */
}

.button-wide>svg:first-of-type {
    margin-right: 8px;
}

.content div svg,
.button-wide>svg {
    fill: var(--icon-color);
}

.button-wide {
    max-width: 280px;
    text-decoration: none;
    color: var(--text-color);
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    justify-content: flex-start;
}

#feature .button-wide {
    margin-top: 1.6rem;
}

#feature .button-wide>svg {
    width: 24px;
    height: 20px;
}

header .content div {
    width: 100%;
    margin-top: 0.8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.portal {
    width: 100%;
}

.divider {
    width: 100%;
    height: 16px;
    background-color: var(--background);
}


nav,
#window,
.portrait-container,
.divider,
#team .container,
#contact .container {
    box-shadow: inset 9px 9px 20px var(--item-shadow), inset -9px -9px 16px var(--item-highlight);
}

/* .divider {
    box-shadow: inset 4px 4px 20px var(--item-shadow), inset -4px -4px 80px var(--item-highlight);
} */

/* #lab { 
    box-shadow: inset 9px 9px 20px var(--item-shadow),
        inset -9px -9px 16px var(--item-highlight),
        8px 8px 12px var(--item-shadow),
        -8px -8px 12px var(--item-highlight);
}*/

#lab,
#window,
.portrait-container {
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 3.2rem;
}

#window,
.portrait-container {
    background-color: var(--background);
}

#lab,
.portrait-container {
    width: 80vw;
    height: 80vw;
}

#lab {
    position: relative;
    /* box-shadow: 4px 4px 8px rgb(163, 177, 198, 0.), -4px -4px 8px rgba(255, 255, 255, 0.5); */
    overflow: hidden;
}

#lab img {
    position: absolute;
    height: 100%;

}

#lab img:first-of-type {
    z-index: 40;
}

#lab img:nth-of-type(2) {
    margin-left: -10rem;
    z-index: 30;
    left: 0;
    /* transform: translateX(-4rem); */
    animation: slideLeft 6s linear infinite;
    /* animation-play-state: paused; */
    /* animation-iteration-count: 1; */
    animation-direction: alternate;
    animation-fill-mode: both;
}

#lab img:nth-of-type(3) {
    margin-right: -8rem;
    right: 0;
    z-index: 20;
    animation: slideRight 6s linear infinite;
    animation-direction: alternate;
}

@keyframes slideLeft {
    to {
        transform: translateX(-4rem);
    }
}

@keyframes slideRight {
    to {
        transform: translateX(4rem);
    }
}


#lab img:last-of-type {
    z-index: 10;
    object-fit: cover;
}

#window {
    width: 64vw;
    height: 64vw;
}

#team .container {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#team h2 {
    flex-basis: 100%;
}

#team p {
    margin-bottom: 1.6rem;
}

.profile-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4.8rem;
    box-sizing: border-box;
}

.portrait-container {
    margin-bottom: 1.6rem;
    border-radius: 50%;
    background-color: var(--background);
    overflow: hidden;
}

.portrait-container:last-child {
    margin-left: auto;
}

.portrait-container-inner {
    padding: 2.4rem;
    margin: 0 auto;
}

.portrait-container img {
    object-fit: cover;
}

.socials {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    padding: 0.8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.socials a svg {
    fill: var(--text-color);
}

.content div:first-of-type a:first-child {
    padding-left: 0;
}

@media screen and (min-width: 640px) {
    .container {
        padding: 4.0rem;
    }

    #lab {
        width: 64vw;
        height: 64vw;
    }

    #window {
        width: 48vw;
        height: 48vw;
    }

    #team .container {
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .profile-card {
        max-width: 240px;
        margin-right: 3.2rem;
    }

    .portrait-container {
        width: 100%;
        height: 100%;
    }

    .portrait-container-inner {
        padding: 0.8rem;
    }

    h1,
    h2 {
        font-size: 4.8rem;
    }

    nav ul {
        padding: 1.6rem;
        padding-right: 3.2rem;
    }

    nav ul li a {
        padding: 0.8rem 1.6rem;
    }
}

@media screen and (min-width: 768px) {
    #lab {
        width: 52vw;
        height: 52vw;
        max-width: 600px;
        max-height: 600px;
    }

    #window {
        margin: 0;
        width: 40vw;
        height: 40vw;
        max-width: 420px;
        max-height: 420px;
    }

    header .content div {
        margin-top: 2.4rem;
    }

    header .content::before {
        height: 320px;
    }

}

@media screen and (min-width: 1024px) {

    header .container,
    #feature .container {
        align-items: center;
    }

    header .container {
        flex-direction: row-reverse;
    }

    #feature .container {
        flex-direction: row;
    }

    header .content {
        margin-right: 4.8rem;
    }


    #feature .content {
        margin-left: 4.8rem;
    }

    .portal {
        margin-left: auto;
    }

    .portrait-container {
        max-width: 280px;
        max-height: 280px;
    }

    .portrait-container-inner {
        padding: 1.6rem;
    }

}

@media screen and (min-width: 1200px) {
    /* .container {
        padding: 0;
    } */
}